<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793672/blob/main/Semana2_Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Module 4 - Working with Data in Python**

##**By: Freddy Armendariz Herrera**
##**Matrícula: A01793672**

##**Reading Files with Open**

En esta sección se utiliza la función *open* para crear un objeto-archivo.

In [225]:
File1 = open("Example2.txt","w")

El primer parámetro es la ruta del archivo, mientras que el segundo parámetro es el modo: "r" para leer, "w" para escribir y "a" para anexar.
Se puede usar el objeto archivo para obtener información sobre el archivo.
Se puede utilizar el atributo *name* para obtener el nombre del archivo; el resultado es un string con el nombre.

In [226]:
File1.name

'Example2.txt'

Se puede consultar el modo del objeto con el siguiente comando:

In [227]:
File1.mode

'w'

Siempre se debe de cerrar el archivo-objeto usando le método *close*.

In [228]:
File1.close()

####**With Statement**

Es mejor usar la sentencia *with* para abrir los archivos ya que los cierra automáticamente.

In [229]:
with open("Example.txt","r") as File1:
  file_stuff=File1.read()
  print(file_stuff)

print(File1.closed)
print(file_stuff)

Freddy Armendariz Herrera
Maestría en Inteligencia Artificial
True
Freddy Armendariz Herrera
Maestría en Inteligencia Artificial

No se puede leer el archivo fuera de la sentencia, en este caso se guarda primero en una variable y luego se puede mandar a imprimir esa variable fuera de la sentencia.

Si un archivo contiene saltos de línea dentro, Python lo asimila como un \n.

Se pueden extraer las lineas de un archivo como elementos de una lista usando el método *readlines*.

In [230]:
with open("Example1.txt","r") as File1:
  file_stuff=File1.readlines()
  print(file_stuff)

['This is line 1\n', 'This is line 2\n', 'This is line 3']

Método *readline* para leer solo la primer linea del archivo.

In [231]:
with open("Example1.txt","r") as File1:
  file_stuff=File1.readline()
  print(file_stuff)

This is line 1

**NOTA:** Si Se utiliza el método *readline* dos veces dentro de la misma sentencia, la segunda vez leera la segunda línea del archivo.

Se puede utilizar un ciclo for para imprimir cada línea del archivo individualmente:

In [232]:
with open("Example1.txt","r") as File1:
  for line in File1:
    print(line)

This is line 1

This is line 2

This is line 3

Se puede también imprimir solo cierta cantidad de caracteres.

In [233]:
with open("Example1.txt","r") as File1:
  file_stuff=File1.readlines(4) #Leera solo los 4 primeros caracteres
  print(file_stuff)

['This is line 1\n']

Cada vez que se utilice el método *readlines* con algún argumento dentro, se ira recorriendo de lugar los caraceteres que se quieren leer, con respecto a los anteriores leídos.

###**Lab - Reading Files**

In [234]:
# Iterando a través de las lineas
with open("Example1.txt","r") as file1:
  i=0
  for line in file1:
    print("Iteration", str(i),": ",line)
    i=i+1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [235]:
# Leer todas las lineas y guardarlas como una lista
with open("Example1.txt","r") as file1:
  FileasList = file1.readlines()

In [236]:
# Imprimir la primer línea
FileasList[0]

'This is line 1\n'

In [237]:
# Imprimir la tercer línea
FileasList[2]

'This is line 3'

##**Writing Files with Open**

También se puede escribir en archivos utilizando la función *open* con el método *write*.

In [238]:
File1 = open("Example4.txt","w") #Con este comando se crea el archivo, si el archivo existe, solo se va a sobreescribir.

De igual manera, también se puede utilizar la sentencia *with*.

In [239]:
with open("Example4.txt","w") as File1:
  File1.write("This is line A\n")
  File1.write("This is line B\n")
  # Al ejecutarse todo dentro de la sentencia, se cerrará automáticamente el archivo

Se puede escribir cada elemento de una lista en un archivo.

In [240]:
Lines = ["This is line A\n","This is line B\n","This is line C\n"]
with open("Example4.txt","w") as File1: #Se crea el archivo o se sobreescribe
  for line in Lines:
    File1.write(line)

Se puede setear el modo para añadir texto a un archivo existente utilizando "a".

In [241]:
with open("Example4.txt","a") as File1: # Esto no creara un nuevo archivo, sino que escribirá en el ya existente.
    File1.write("This is line D")

Se puede copiar el contenido de un archivo en uno nuevo.

In [242]:
with open("Example4.txt","r") as readfile:
  with open ("Example5.txt","w") as writefile:
    for line in readfile:
      writefile.write(line)

###**Lab - Writing Files**

####**Additional Modes**

También se pueden utilizar los siguientes modos para acceder a los archivos:
* r+: Lectura y escritura. No puede truncar el archivo.
* w+: Lectura y escritura. Puede truncar el archivo.
* a+: Añadir y leer. Cree un nuevo archivo si no existe.
Métodos para el uso del cursor:
* .tell() - Regresa la posición actual del curso en bytes.
* .seek(offset,from) cambia la posición en bytes de offset con respecto a from.

In [243]:
# a+ modo
with open('Example4.txt', 'a+') as testwritefile:
  testwritefile.write("This is line E\n")
  print(testwritefile.read())

In [244]:
with open('Example4.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #Strings vacíos retornan un valor falso en Python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # Mueve 0 bytes del principio
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 74
Read nothing

New Location : 0
This is line A
This is line B
This is line C
This is line DThis is line E

Location after read: 74

####**Exercise**

Ejecutar el siguiente código antes del ejercicio.

In [245]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

Definir la función cleanFiles.

In [246]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
       with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]

            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    51226      2016-2-20    yes
    15409      2016-5-11    yes
    89714      2020-5-14    yes
    40050      2016-9-17    yes
    18504      2017-8-18    yes
    81624      2019-3-17    yes
    65143      2018-3-10    yes
    71435      2017-7-20    yes
    86036      2015-12-3    yes

Inactive Members:


Membership No  Date Joined  Active
    97809      2015-11-16   no
    81220      2015-9-21    no
    72534      2016-1-19    no
    16959      2017-8-10    no
    42638      2020-5-10    no
    72311      2020-2-20    no
    55375      2016-4-2     no
    24682      2015-8-7     no
    27994      2015-7-13    no
    64613      2020-1-22    no
    57333      2018-11-20   no
    67388      2018-10-2    no
    84154      2017-2-6     no
    72777      2018-8-11    no

Código para verificar la solución

In [247]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

##**Loading Data with Pandas**

Trabajaremos con la librería pandas para el análisis de datos.

In [248]:
import pandas as pd #Importa la librería pandas y pd es la abreviación de la librería
csv_path="file1.csv" #Se guarda la ruta del archivo en la variable csv_path
df=pd.read_csv(csv_path) #read_csv() es la función para guardar los datos en un marco de datos
df.head(5) #Método para desplegar las primeras 5 filas de un marco de datos.

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

El proceso para cargar un archivo excel es similar.

In [249]:
xlsx_path="file1.xlsx"
df=pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

Un marco de datos es un comprimido de filas y columnas.

Podemos crear un marco de datos desde un diccionario.

In [250]:
songs = {"Album":["Thriller","Back in Black","The Dark Side of the Moon"],"Released":[1982,1980,1973],"Length":["00:42:19","00:42:11","00:42:49"]}
songs_frame=pd.DataFrame(songs)
#Las keys se convierten en los encabezados de las columnas

Se puede extraer una sola columna del marco de datos con el siguiente metodo:

In [251]:
x=df[["Length"]] #Dentro se pone el nombre del encabezado de la columna
# Si se requieren sacar mas columnas, se separan por comas dentro del doble corchete
y=df[["Artist","Length","Genre"]]
#El resultado es un nuevo marco de datos solo con estas columnas

Para acceder a un único elemento del dataframe se utiliza el siguiente método:

In [252]:
df.iloc[0,0] #Entre corchetes va [fila,columna] siendo esta la posicion del elemento.
df.loc[0,"Artist"] #En este caso se colca el nombre de la columna y no su posicion.

'Michael Jackson'

Se puede extraer un cierto conjunto de datos desde un dataframe:

In [253]:
z=df.iloc[0:2,0:3] #Extraemos las primeras dos filas y las primeras tres columnas.
z=df.loc[0:2,"Artist":"Released"] #El mismo dato utilizando el nombre de las columnas.

###**Lab - Get to Know a Pandas Array**

In [254]:
import pandas as pd
df=pd.DataFrame({"a":[11,21,31],"b":[21,22,23]})

Mostrar las primeras tres filas.

In [255]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

Obtener la columna "a".

In [256]:
df["a"]

0    11
1    21
2    31
Name: a, dtype: int64

##**Working with and Saving Data with Pandas**

In [257]:
xlsx_path="file1.xlsx"
df=pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

Cuando se tiene un dataframe se puede trabajar con los datos y guardar los reusltados en un formato diferente.

Si se requiere extraer los valores unicos de un dataframe se utilizar el metodo unique().

In [258]:
df["Released"].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

Se pueden utilizar los operadores logicos en todo el dataframe.

In [259]:
df["Released"]>=1980 #El resultado es una serie de valores boleanos, uno por cada fila.

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

Si se quieren extraer los registros donde el año sea mayor o igual de 1980.

In [260]:
df1=df[df["Released"]>=1980] #df1 guarda un nuevo dataframe con los registros que cumplen con la condicion.

Para guardar un dataframe en un archivo CSV se utiliza la siguiente funcion:

In [261]:
df1.to_csv("new_songs.csv") #Siempre incluir la extension del archivo despues del nombre.

Hay mas funciones para guardar los dataframe en diferentes formatos.

###**Lab - Loading Data and Viewing Data**

In [262]:
df = pd.read_csv("TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

Almacenar en la variable q la columna Rating:

In [263]:
q = df[["Rating"]]

Acceder a la segunda fila y tercer columna:

In [264]:
df.iloc[1,2]

1980